

/* || Global Styles */
* { 
box-sizing: border-box; 
margin: 0; 
padding: 0; 
} 

body { 
font-family: Arial, sans-serif; 
line-height: 1.6; 
background-color: #372c28; 
padding: 20px; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
}




/* || Card Styling */ 
.card { 
background: #cfc3b6; 
padding: 20px; 
margin-bottom: 20px; 
border-radius: 8px; 
box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.card2 { 
background: #a6a452; 
padding: 20px; 
margin-bottom: 20px; 
border-radius: 8px; 
box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}


/* || Typography */ 
h1 { 
  Text-align: center; 
  margin-bottom: 10px; 
} 
h2 { 
  margin-bottom: 10px; 
  margin-top: 20px; 
}  
h2 { 
  margin-bottom: 10px; 
}



/* Lists */ 
ul { 
  margin-left: 20px; 
  margin-bottom: 10px; 
} 



/* Hyperlinks and Hover */ 
a { 
  text-decoration: none; 
  color: #0077cc; 
} 
a:hover { 
  color: #005fa3; 
} 



/* Tables */ 
table { 
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 10px; 
} 
 
th, td { 
  border: 1px solid #372c28; 
  padding: 8px; 
} 
 
th { 
  background-color: #cfc3b8; 
  color: black; 
} 



/* Contact Form */ 
form { 
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
} 
 
input, textarea { 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
} 
 
button { 
  padding: 10px; 
  background-color: #a6a452; 
  color: white; 
  border: none; 
  cursor: pointer; 
} 
 
button:hover { 
  background-color: #372c28; 
} 